body{
    margin:0;
    padding:0 ;
    font-family: Arial;
    overflow-x: hidden;
    background-color: #f0f0f0;
}
h1{
    margin: 0;
}

.img_logo{
    width: 15%;
}

.topnav{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align:center;
    padding: 14px 16px;
    padding-bottom: 3px;
    text-decoration:none;
    font-size: 17px;
    margin-right: 20px;
    margin-top: 5px;
    transition-duration: 0.4s;
}

.topnav a:not(:first-child){
    float: right;
}

.topnav a:hover{
    color: black;
    border-bottom: 2px solid orange;
}

.topnav a:active{
    color: white;
    border-bottom: 5px solid orange;
}

.topnav .icon{
    display: none;
}

@media screen and (max-width:600px){
    .topnav a:not(:first-child){
        display:none;
    }
    .topnav a.icon{
        float: right;
        display: block;
    }
}

@media screen and (max-width:600px) {
    .topnav.responsive{
        background-color: #333;
        position:relative;
    }

    .topnav.responsive .icon{
        position:absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a{
        float: none;
        display:block ;
        text-align:left;
    }
}

.hero_main{
    position:relative;
    width: 100%;
    background-image:linear-gradient(to top right, rgba(0,0,0,0.8),rgba(0,0,0,0.5)),url(ixmt8JQ-1920x1080-nature-wallpaper.jpg);
    background-size: cover;
    background-position:center ;
    height: 100vh;
    clip-path: polygon(0 0,100% 0, 100% 80%, 0 100%);
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 300;
    color:white;
    font-weight: 300;
    font-size: 40px;
}

@media screen and (max-width:1140px){
    .hero-text-box{
        width: 100%;
        font-size: 25px;
        margin-left: 15px;
    }
}

@media screen and (max-width:600px){
    .hero-text-box{
        margin-left: 15px;
        width: 100%;
        font-size: 20px;
    }
    .btn{
        display: block;
        margin-top:20px;
     }

    .btn-take{
        width: 18vw;
    }

    .btn-more{
        width: 30vw;
    }

}

.btn{
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    padding: 8px 15px;
    transition-duration: 0.3s;

}

.btn-take{
    color: white;
    background-color: #bb7900;
    border: 2px solid #bb7900;

}

.btn-take:hover{
    background-color: #996300;
    border:1px solid #996300 ;
    
}

.btn-more{
    border: 1px solid #bb7900;
    color: black;
}

.btn-more:hover{
    background-color: #bb7900;
    color: white;
}

.section_globe{
   /* background-color: red; */
    height: 100vh;
    position: relative;
    width: 100vw;
}

.col_1_of_2{
    float: left;
    width: 50%;
}

.main_head{
    margin: 40px 0px;
    margin-bottom: 70px; 
}

.globe_head{
    text-align:center;
    font-size: 30px;
    background-image: linear-gradient(to right, #16A085,#F4D03F);
    -webkit-background-clip:text;
    color: transparent;
}

.sub_head{
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 20%;
}


.composition{
    position: relative;
    opacity: 1;
}

.composition_photo{
    position: absolute;
    width: 40%;
    z-index: 10;
    box-shadow:0 15px 40px rgba(0,0,0,0.4);
    border-radius: 3px;
    opacity:1;
    transition: 0.6s;
    outline-offset: 20px;
}

/*Yaha se start ho raha hai*/

.composition_photo_1{
    left: 25px;
    top: -40px;
}

.composition_photo_2{
    right: 145px;
    top: 20px;
}

.composition_photo_3{
    left: 20%;
    top: 90px;
}

.composition_photo:hover{
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
    z-index: 20;
    outline: 15px  solid#16A085;
}

.composition:hover
.composition_photo:not(:hover){
    transform: scale(0.95);
    opacity: 0;
}

/*Yaha par khatam*/

.left_para{
    width: 85%;
    color:rgb(56, 56, 56);
    text-align: left;
    margin-left: 30px;
}

.btn-anchor{
    background-color: orange;
    color: white;
}

@media screen and (max-width:600px) {
    .left_para{
        font-size: 5px;
    }
}

@media screen and (max-width:600px) {
    .composition_photo{
        position: relative;
        width: 50%;
    }

    .composition_photo_3{
    left: 24px;
    top: 7px;
    }

    .composition_photo_2{
        left: 25px;
        top: -20px;
    }
}

.section_features{
    position: relative;
    background-image: linear-gradient(to right,rgba(182,213,111,0.5), rgba(40, 180,133,0.8)), url(../../vendores/images/mountain.jpg);
    background-position: center;
    background-size: cover;
    height:100vh;
    width: 100vw;
    clip-path:polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.inner_fea{
    width: 90%;
    position: absolute;
    margin-top: 140px;
    margin-left: 5%;
}


.grid-container{
    display: grid;
    grid-gap: 50px 100px;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}

.grid-item{
    
    box-sizing:border-box;
    background-color: rgba(255,255,255,0.7);
    height: 50vh;
    width: 100%;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    color: #575656;
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
    transition: 0.4s;
}


.icon{
    transform: scale(2);
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgba(182,213,111,0.8);
}

.fea_head{
    margin: 10px 0;
    margin-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.fea-text{
    letter-spacing: 1px;
    text-align: center;
    font-size: 13px;

}

.grid-item:hover{
    transform: scale(1.1) translateY(-7px);
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}

.main_form{
    box-sizing: border-box;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family:sans-serif;
    height: 100vh;
    margin:-20px 0 50px;
}

.container{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
            0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 770px;
    max-width: 100%;
    min-height:480px;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;    
    transition: all 0.6s ease-in-out;
}

.social-container{
    margin: 20px 0;
}

.social-container a{
    border: 1px solid #dddddd ;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}   

.forget{
    text-decoration: none;
    color: rgb(136, 135, 135);
    margin-top: 20px;
    margin-bottom: 5px;
}

.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}

.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
 
 .overlay{
    background: #ff416c;
    background: linear-gradient(to right, #ff4b2b, #ff416c);
    background-repeat: no-repeat;
    background-size:cover ;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -345px;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
 
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.overlay-left{
    transform: translateX(-20%);
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active.overlay{
    transform:translate(50%);
}

.container.right-panel-active.overlay-container{
    transform: translateX(-100%);
}
.container.right-panel-active.sign-in-container{
    transform:translateX(100%);
}

.container.right-panel-active.sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation:show 0.6s;
}

@keyframes show{
    0%,49.99%{
        opacity: 0;
        z-index: 1;
    }

    50%,100%{
        opacity: 1;
        z-index: 5;
    }
}

.container.right-panel-active.overlay-left{
    transform:translate(0);
}

.container.right-panel-active.overlay-right{
    transform: translateX(20%);
} 

button{
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active{
    transform: scale(0.95);
}

button:focus{
    outline: none;
}

button.ghost{
    background-color: transparent;
    border-color: #ffffff;
}







footer{
    background-color:#333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav{
    list-style: none;
    float: left;
}

.social-link{
    list-style: none;
    float: right;
}

.footer-nav li,
.social-link li{
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child
.social-link li:last-child{
    margin-right:0;
}

footer p{
    color:#888 ;
    text-align: center;
    margin-top: 60px;
}


